@media only screen and (max-width: 46.1875em) {
    #how_we_work {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    #how_we_work .img_main {
        width: 180px;
    }
    #how_we_work .img_sub { 
        width: 2rem;
    }
    #how_we_work h1 {
        font-size: 1rem;
        margin-top: 1rem;
    }
    #how_we_work p {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width:  46.25em) and (max-width: 63.9375em) {
    #how_we_work {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    #how_we_work .img_main {
        width: 250px;
    }
    #how_we_work .img_sub {
        width: 3rem;
    }
    #how_we_work h1 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 64em) {

}