@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    text-decoration: none;
    color: #292F36;
}

/* .team .team-member:hover img{
    display: none;
}

.team .team-member:hover .team-member-hidden{
    display: flex;
} */